<div class="page-layout">

  <!-- HEADER ARRIBA -->
  <header class="header-area">
    <app-header 
    [username]="username"
    [userId]="userId"
   ></app-header>
  </header>

  <!-- PANEL IZQUIERDO (USER) -->
  <aside class="user-area">
    <app-user [userId]="userId" [username]="username" ></app-user>
  </aside>

  <!-- CALENDARIO CENTRO -->
  <main class="calendar-area">
    <app-calendar-comp
      [selectedDate]="selectedDate"
      [itemsByDate]="itemsByDate"
      (selectDate)="onSelectDate($event)">
    </app-calendar-comp>
  </main>

  <!-- PANEL DERECHO (OBJETOS) -->
  <aside class="objects-area">
    <app-objetos
    [userId]="userId"
    [username]="username"></app-objetos>
  </aside>

</div>