<div class="objetos-comp">
    <h2>Dia seleccionado<!--{{ selectedDate | date:'fullDate' }}>--></h2>

    <div class="objetos-list" *ngIf="calendarId !== null">
        <div *ngFor="let event of eventos">
        <div class="objeto-card evento-card">
            <p class="card-title">{{ event.title }}</p>
            <p class="card-description">{{ event.description }}</p>
            <div class="card-footer">
                <span>{{ event.startTime | date:'shortTime' }}</span>
                <span>Evento</span>
            </div>
            <button class="header__button" (click)="abrirModalBorrarEvento(event.eventId)">Borrar</button>
        </div>
    </div>
</div>

<div class="modal-fondo-borrar" *ngIf="abrirModalDelete">
    <div class="modal-borrar-evento">
        <p>¿Desea eliminar el evento?</p>
        <button class="aceptar_button" (click)="EliminarEvento()">Aceptar</button>
        <button class="cerrar_button" (click)="cerrarModalBorrarEvento()">Cerrar</button>
    </div>
</div>