<app-toast></app-toast>

<div class="login-container">
    <div class="login-card">

        <div class="login-left">
            <img src="images/logo.png" alt="Logo" class="login-logo">
            <h2>¡Bienvenido de nuevo!</h2>
            <p class="subtitle" >Accede para gestionar tus calendarios y recordatorios</p>
        
            <div class="form-group">
                <label for="">Usuario</label>
                <app-label id="nombre-usuario" label="Nombre de Usuario" type="text" [(model)]="username"></app-label>
            </div>
            
            <div class="form-group">
                <label for="">Contraseña</label>
                <app-label id="contrasena" label="Contraseña" type="password" [(model)]="password" ></app-label>
            </div>


            <button class="login-button" (click)="login()">
                Iniciar sesión
            </button>

            <p class="register-text">
                ¿No tienes una cuenta?
                <a routerLink="/register">Regístrate aquí</a>
            </p>
        </div>
        <!-- RIGHT SIDE: IMAGE DECORATION -->
        <div class="login-right">
            <img src="images/login-pattern.png" alt="Decoración" class="pattern-img">
        </div>

    </div>
</div>