<div class="user-container">

  <!-- Info de usuario -->
  <div class="user-info">
      <p class="user-name">{{ username }}</p>
      <p class="user-id">ID: {{ userId }}</p>
  </div>

  <!-- Crear calendario -->
  

  <hr class="divider">

  <!-- Lista de calendarios -->
  <div class="calendars-list">
    <h2>Tu calendario</h2>

    <div class="calendar-card">
        <ul *ngIf="calendarId !== null">
            <li >
                <p class="calendar-title"><strong>{{calendarName}}</strong></p>
                <p class="calendar-date"><small>Creado: {{createdAt}}</small></p>
            </li>
        </ul>
    </div>
        
    <div class="">
          <ng-template #noCalendars>
            <p>No tienes calendarios creados.</p>
          </ng-template>
      </div>

  </div>

  <hr class="divider">

  <!-- Cerrar sesión -->
  <button class="btn-logout">Cerrar sesión</button>

</div>

<div class="modal-overlay" *ngIf="showModal">
  <div class="modal">
    <h2>Crear tu primer calendario</h2>

    <input 
      type="text" 
      placeholder="Nombre del calendario"
      [(ngModel)]="newCalendarName"
      class="modal-input"
    />

    <div class="modal-actions">
      <button class="btn-primary" (click)="createFirstCalendar()">Crear</button>
      <button class="btn-secondary" (click)="closeModal()">Cancelar</button>
    </div>
  </div>
</div>